@import "../../../styling/colors.scss";
@import "../../../styling/breakpoints.scss";
nav {
    background: $navbar-background;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    border-bottom: 1px solid #e6ecf1;
    max-height: 50px;

    div.logo {
        font-size: 2rem;
        text-indent: 1rem;
        user-select: none;
        background: linear-gradient(150deg, #281483 15%, #8f6ed5 70%, #d782d9 94%);
        background-clip: border-box;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    div.side {
        flex: 1;
        display: flex;
        &.left {
            justify-content: flex-start;
        }
        &.right {
            justify-content: flex-end;
            padding-right: 0.25rem;
            i.nav-hamburger {
                cursor: pointer;
                @include xs {
                    display: block;
                }
                @include sm {
                    display: block;
                }
                @include md {
                    display: block;
                }
                @include lg {
                    display: none;
                }
                @include xl {
                    display: none;
                }
            }
        }
    }
}
