<nav>
    <div class="side left">
        <div class="logo">tlkr.</div>
    </div>
    <div class="side right">
        <button *ngIf="(user.user | async) === null" (click)="loadSignin(); modal.show();" class="btn btn-neutral">Sign In</button>
        <button *ngIf="(user.user | async) === null" (click)="loadSignup(); modal.show();" class="btn btn-info">Sign Up</button>
        <button *ngIf="(user.user | async) !== null" class="btn btn-primary"> {{ (user.user | async)?.displayName }} </button>
    </div>
</nav>
