<form [formGroup]="form" (ngSubmit)="onSubmit()">

    <label>
        Username
        <input tlkrFormInput formControlName="username" type="text">
    </label>

    <label>
        Password
        <input tlkrFormInput formControlName="password" type="password">
    </label>

    <label>
        Display Name
        <input tlkrFormInput formControlName="displayName" type="text">
    </label>

    <label>
        Description
        <input tlkrFormInput formControlName="description" type="text" placeholder="Short description about you">
    </label>

    <button type="submit" [disabled]="form.invalid || requesting === true" class="btn btn-primary">
        <span *ngIf="requesting === false">Submit</span>
        <span *ngIf="requesting === true">Loading</span>
    </button>

</form>