div.profile-container {
    padding: 1rem;
    height: 100%;
    width: 100%;
    div.user{
        *{
            margin-right: 0.25rem;
            vertical-align: middle;
        }
        span.image{

        }
        span.display-name{
            color: #5e72e4;
            font-size: 2rem;
        }
        span.username{
            color: #8490a1;
        }
    }
}
