<div class="profile-container">
    <div class="user">
        <span class="image"><i class="fas fa-user"></i></span>
        <span class="display-name">{{(profile.profile | async)?.displayName}}</span>
        <span class="username">({{(profile.profile | async)?.username}})</span>
    </div>
    
    <div class="stats">
        <h2>Stats</h2>
        <div class="followers">{{(profile.profile | async)?.followersCount}} followers</div>
        <div class="following">following {{(profile.profile | async)?.followingCount}}</div>
        <div class="post-count">{{(profile.profile | async)?.postCount}} posts</div>
    </div>

    <div class="posts">
        <h2>Posts</h2>
        <tlkr-post *ngFor="let post of (profile.posts | async)" [item]="post"></tlkr-post>
    </div>
</div>
