@import "../../../styling/breakpoints.scss";
div.sidebar {
    position: relative;
    height: 100%;
    background: white;
    min-width: 350px;

    div.user {
        display: flex;
        align-items: center;
        padding: 0.5rem;
        cursor: pointer;
        div.image {
            height: 40px;
            width: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #5e72e4;
            border-radius: 50%;
            margin-right: 0.5rem;
            color: white;
        }
        div.display-name {
            color: #5e72e4;
        }
    }

    div.links {
        div.link {
            padding: 0.25rem 0.5rem;
            font-size: 1.1rem;
            cursor: pointer;
            outline: none;
            &.active {
                color: #5e72e4;
            }
        }
    }

    div.options {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        display: flex;
        border-top: 1px solid #e6ecf1;
        justify-content: center;
        align-items: center;
        padding: 0 0.5rem;

        button.option {
            flex: 1;
            cursor: pointer;
        }
    }
}
