/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: #5e72e4;
    background-color: transparent;
    outline: none;
}

form {
    width: 100%;

    label {
        display: block;
        width: 100%;
        margin-bottom: 1rem;
        text-transform: uppercase;
        font-weight: 600;
        font-size: 0.8rem;
        min-width: 250px;
        position: relative;
    }
    input {
        position: relative;
        display: block;
        width: 100%;
        padding: 0.5rem 0.5rem;
        margin: 0;
        border: 0;
        background: #ababab26;
        color: #8898aa;
        box-shadow: 0 1px 3px rgba(50, 50, 93, 0.15), 0 1px 0 rgba(0, 0, 0, 0.02);
        border: 1px solid transparent;
        border-radius: 0.25rem;

        &::placeholder {
            color: #adb5bd;
            opacity: 1;
        }

        &.ng-touched.ng-invalid {
            color: #fb6340;
            border-color: #fb6340;
            & + div.icon-container {
                content: "\f057";
                color: #db2d05;
                background-color: #fda08b;
                i.success {
                    display: none;
                }
                i.error {
                    display: inline;
                }
            }
        }

        &.ng-touched.ng-valid {
            color: #2dce89;
            border-color: #2dce89;
            & + div.icon-container {
                color: #1d8357;
                background-color: #69deac;
                i.error {
                    display: none;
                }
                i.success {
                    display: inline;
                }
            }
        }
    }
    div.icon-container {
        position: absolute;
        bottom: 6px;
        right: 6px;
        border-radius: 50%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0.3rem;
        font-size: 10px;
        min-width: 20px;
        min-height: 20px;
        i {
            display: none;
        }
    }
    button {
        width: 100%;
    }
}

button.btn {
    position: relative;
    text-transform: uppercase;
    background-color: #fff;
    border-color: #fff;
    box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
    display: inline-block;
    font-weight: 600;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    padding: 0.625rem 1.25rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    transition: filter 0.3s ease-in-out;

    &:disabled {
        cursor: not-allowed;
        filter: grayscale(0.75);
    }

    &:focus,
    &:focus-within {
        outline: 0;
    }
    &::-moz-focus-inner {
        border: 0;
    }
    &:not(:last-child) {
        margin-right: 0.5rem;
    }

    &:not(:disabled) {
        cursor: pointer;

        &.btn-info:active {
            color: #fff;
            background-color: #0da5c0;
            border-color: #11cdef;
        }
        &.btn-neutral:active {
            color: #212529;
            background-color: #e6e5e5;
            border-color: #fff;
        }
        &.btn-primary:active {
            color: #fff;
            background-color: #324cdd;
            border-color: #5e72e4;
        }
    }

    &.btn-default {
        color: #fff;
        background-color: #172b4d;
        border-color: #172b4d;
    }

    &.btn-primary {
        color: #fff;
        background-color: #5e72e4;
        border-color: #5e72e4;
    }

    &.btn-secondary {
        color: #000;
        background-color: #f4f5f7;
        border-color: #f4f5f7;
    }

    &.btn-neutral {
        color: #5e72e4;
    }

    &.btn-info {
        color: #fff;
        background-color: #11cdef;
        border-color: #11cdef;
    }

    &.btn-success {
        color: #fff;
        background-color: #28a745;
        border-color: #28a745;
    }

    &.btn-danger {
        color: #fff;
        background-color: #dc3545;
        border-color: #dc3545;
    }

    &.btn-warning {
        color: #fff;
        background-color: #ffc107;
        border-color: #ffc107;
    }
}
