div.alerts {
    position: fixed;
    bottom: 0;
    right: 0;
    margin-bottom: 1rem;
    margin-right: 1rem;
    z-index: 20;

    div.alert {
        padding: 1rem 1.5rem;
        border: 0;
        font-size: 0.875rem;
        border-radius: 0.25rem;
        color: #fff;
        width: auto;
        animation: 0.2s ease-in-out 0.3s 1 normal forwards running slidein, 0.2s ease-in-out 3s 1 reverse forwards running slidein;
        cursor: pointer;
        position: absolute;
        bottom: 0;
        right: 0;
        transition: margin-bottom 0.3s ease-in-out;
        transform: translateX(120%);
        white-space: nowrap;

        &.success {
            background-color: #4fd69c;
        }
        &.danger {
            background-color: #f75676;
        }
        &.warning {
            background-color: #fc7c5f;
        }
        &.info {
            background-color: #37d5f2;
        }
    }
}

@keyframes slidein {
    from {
        transform: translateX(120%);
    }
  
    to {
        transform: translateX(0%);
    }
  }